
<div class="row" *ngIf="projectId">

  <div class="col-md-4 col-xl-3" [class.hidden]="storage.hideSidebar">

    <div class="row">
      <div class="col-md-12">
        <claimer [project]="projectData | async" [api]="api"></claimer>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <sidebar [project]="projectData | async" [projectId]="projectId" [api]="api"></sidebar>
      </div>
    </div>

  </div>

  <div class="col-md-4 col-xl-6" [ngClass]="{
    'col-md-8 col-xl-9':    storage.hideSidebar || storage.hideResult,
    'col-md-12 col-xl-12':  storage.hideSidebar && storage.hideResult
  }">

    <div class="row">
      <toolbar class="col-md-12" [projectId]="projectId" [project]="projectData | async" [api]="api"></toolbar>
    </div>

    <div class="row">
      <div class="col-md-12 m-t-1">
        <creator [project]="projectData | async" [projectId]="projectId" [api]="api"></creator>
      </div>
    </div>

  </div>

  <div class="col-md-4 col-xl-3" [class.hidden]="storage.hideResult">
    <div class="row">
      <results [project]="projectData | async" [projectId]="projectId" [showLoading]="true"></results>
    </div>
  </div>

</div>
