
<div class="container contact-container">

    <div class="row">
      <div class="col-6 offset-3 text-center">
  
        <div class="card example-card text-sm-center">
  
          <div class="card-block">
            <h4 class="card-title">Contact Us</h4>
            <p class="card-text">Found a bug? Got a suggestion? Have a comment? Drop us a line at <a href="mailto:hi@deck.zone" target="_blank">hi@deck.zone</a> and let us know what's happening!</p>
          </div>
  
        </div>
  
        <!--
        <div class="card example-card text-sm-center">
  
          <div class="card-block">
            <h4 class="card-title">Premium Support</h4>
            <p class="card-text">Interested in having your game made and exported to <a href="https://www.thegamecrafter.com" target="_blank">The Game Crafter</a>? We can do that! Send us an email at <a href="mailto:premium@deck.zone?subject=Premium Support Request" target="_blank">premium@deck.zone</a> with your game and we can give you an estimate!</p>
          </div>
  
        </div>
        -->
  
      </div>
  
    </div>
  
  </div>