<nav class="navbar navbar-static-top navbar-light bg-faded m-b-1">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
    ☰
  </button>
  <div class="collapse navbar-toggleable-xs" id="navbar-header">
    <a class="navbar-brand" [routerLink]="['/Home']">deck.zone</a>
    <a class="navbar-brand" *ngIf="currentSubTitle">
      <small>{{currentSubTitle}}</small>
    </a>
    <ul class="nav navbar-nav" *ngIf="!router.isRouteActive(router.generate(['/Create', 'Root']))">
      <li class="nav-item">
        <a class="nav-link" (click)="createProject()">Create</a>
      </li>
    </ul>

    <ul class="nav navbar-nav pull-xs-right" *ngIf="!(angularFire.auth | async)">
      <li class="nav-item" dropdown>
        <a class="nav-link" dropdownToggle>
          Login
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li *ngFor="let choice of ['Facebook', 'Google', 'Twitter']">
            <a class="dropdown-item" (click)="login(choice)">Login with {{choice}}</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav pull-xs-right" *ngIf="angularFire.auth | async">
      <li class="nav-item" dropdown>
        <a class="nav-link active" dropdownToggle>{{ (angularFire.auth | async)[(angularFire.auth | async).auth.provider].displayName }} <b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a class="dropdown-item" [routerLink]="['/Projects']">My Projects</a>
          </li>
          <li class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>