<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block no-padding-bottom">
        <h4 class="card-title">
          Scripts
          <button type="button"
                  class="pull-md-right btn btn-xs btn-primary-outline"
                  *ngIf="auth.owns(project)"
                  (click)="newFile()">
            <i fa [icon]="'plus'" [fw]="true"></i>
          </button>
        </h4>
      </div>

      <div class="card-text" *ngIf="internalProject && (scriptList | async)">
        <p *ngIf="!(scriptList | async).length" class="text-sm-center">No files in current project.</p>

        <ul class="nav nav-pills nav-stacked">
          <li class="nav-item"
              *ngFor="let scriptObj of allScripts"
              (mouseenter)="isVisible['s'+scriptObj.key] = true"
              (mouseleave)="isVisible['s'+scriptObj.key] = false">
            <a class="nav-link"
               (click)="setActiveScript(scriptObj.key)"
               [ngClass]="{active: scriptObj.key === internalProject.activeScript}">

              <div class="btn-group sidebar-buttons-on-top" *ngIf="isVisible['s'+scriptObj.key]">

                <button class="btn btn-xs btn-info"
                        *ngIf="auth.owns(project)"
                        (click)="editFile(scriptObj)">
                  <i fa [icon]="'edit'" [fw]="true"></i>
                </button>

                <button class="btn btn-xs btn-danger"
                        *ngIf="auth.owns(project)"
                        (click)="deleteFile(scriptObj)">
                  <i fa [icon]="'trash'" [fw]="true"></i>
                </button>
              </div>

              <span>{{scriptObj.script.name}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-text" *ngIf="!(scriptList | async)">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block no-padding-bottom">
        <h4 class="card-title">
          Resources
          <button type="button"
                  class="pull-md-right btn btn-xs btn-primary-outline"
                  (click)="newResource()"
                  *ngIf="auth.owns(project)">
            <i fa [icon]="'plus'" [fw]="true"></i>
          </button>
        </h4>
      </div>
      <div class="card-text" *ngIf="internalProject && (resourceList | async)">
        <p *ngIf="!(resourceList | async).length" class="text-sm-center">No resources in current project.</p>

        <ul>
          <li class="nav-item"
              *ngFor="let resourceObj of allResources"
              (mouseenter)="isVisible['r'+resourceObj.key] = true"
              (mouseleave)="isVisible['r'+resourceObj.key] = false">

            <a class="nav-link">

              <div class="btn-group sidebar-buttons-on-top" *ngIf="isVisible['r'+resourceObj.key]">

                <a class="btn btn-xs btn-info" href="{{resourceObj.resource.url}}" target="_blank">
                  <i fa [icon]="'external-link'" [fw]="true"></i>
                </a>

                <button class="btn btn-xs btn-danger"
                        *ngIf="auth.owns(project)"
                        (click)="deleteResource(resourceObj)">
                  <i fa [icon]="'trash'" [fw]="true"></i>
                </button>
              </div>

              <span>{{resourceObj.resource.name}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-text" *ngIf="!(resourceList | async)">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>