<div class="container mt-3">
  <div class="jumbotron">
    <h1>Welcome to the Deck Zone</h1>

    <p>
      deck.zone is a tool to help you prototype your board games rapidly.
      Using a simple domain-specific language (DSL) called Decklang you can create a whole deck of cards in a matter of minutes.
      Couple the simplicity of Decklang with the friendliness of the tool and you have success right in front of your eyes!
      Take your prototype, polish it, and print it!
    </p>

    <p>
      <strong>Please note that printing a prototype to PDF currently only works in a modern browser.</strong>
    </p>

  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4" *ngFor="let block of blocks">
  
      <div class="card">

        <div class="card-header align-items-center">
          <h4 class="card-title truncate-text mb-0">
            {{ block.title }}
          </h4>
        </div>

        <div class="card-body">
          <p>{{ block.text }}</p>
        </div>

        <div class="card-footer text-center text-muted" *ngIf="block.buttonText">
          <button class="btn btn-info btn-block" [routerLink]="block.buttonLink">{{ block.buttonText }}</button>
        </div>
      </div>
    </div>
  </div>

</div>