.row.form-group {
  text-align: right;
}

select.form-control {
  height: 38px;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}